@model vente_en_ligne.Models.Utilisateur

@{
    ViewData["Title"] = "Create";
}

<link type="text/css" rel="stylesheet" href="/css/CreateU.css" />
<div class="login-box">
    <h2 style="color:RED;">Become Client</h2>
    <form asp-action="Create" method="post">
        <div class="user-box">
            <div class="align">
                <div class="input-group">
                    <label asp-for="Prenom"></label>
                    <input asp-for="Prenom" class="form-control" required />
                </div>
                <div class="input-group">
                    <label asp-for="Nom"></label>
                    <input asp-for="Nom" class="form-control" required />
                </div>
            </div>
            <div class="align">
                <div class="input-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" required />
                </div>
                <div class="input-group">
                    <label asp-for="Tel"></label>
                    <input asp-for="Tel" class="form-control" required />
                </div>
            </div>
        </div>
        <button type="submit" style="background:darkred; color:white; font-weight: bold;margin-left:20px">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
        <button onclick="location.href='@Url.Action("Authent", "Utilisateurs")'" style="background:darkred; color:white; font-weight: bold;margin-left:70px">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            return
        </button>

    </form>
</div>